<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <appender-ref ref="rootloggerAppender" />
  </root>

  <logger name="IMPORTER">
    <level value="ALL" />
    <appender-ref ref="importer" />
  </logger>
  <!-- Rolling File Appender -->
  <appender name="importer" type="log4net.Appender.RollingFileAppender">
    <file value="C:\FPL\LOGS\DataImporter\log.txt" />
    <param name="DatePattern" value="dd-MM-yyyy'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="14" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%level] [%logger] %message%newline %exception" />
    </layout>
  </appender>
  <appender name="rootloggerAppender" type="log4net.Appender.RollingFileAppender">
    <file value="" />
    <param name="DatePattern" value="dd-MM-yyyy'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="14" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%level] [%logger] %message%newline %exception" />
    </layout>
  </appender>
</log4net>